@font-face
{
	font-family: nazanin;
	src:url("fonts/B-NAZANIN.TTF");
}
@font-face
{
	font-family: mitra;
	src:url("fonts/Far_Mitra.ttf");
}
@font-face
{
	font-family: khodkar;
	src:url("fonts/Far_khodkar.ttf");
}
@font-face
{
	font-family: nastaligh;
	src:url("fonts/IranNastaliq.ttf");
}
@font-face
{
	font-family: traffic;
	src:url("fonts/B Traffic.ttf");
}