body
{
	margin:0 auto 0;
}

.hedder
{
	background-image: url('../../../images/background.png');
	background-repeat: no-repeat;
	background-attachment: fixed;

	background-size: cover;
	
	width: 100%;
	height:360px;
	float:right;


}

.h1in
{
		font-size:20;
	
	padding-right:100px;
	text-shadow:  0px 1px 10px ;
	font-family: khodkar;
	
}
.heddermenu
{

	width:100%;
	height:130px;
	background:linear-gradient(to bottom, rgba(0,0,0,0.6)20%, rgba(0,0,0,0));
margin:auto;

	}
.heddermenuin
{
	width:926px;
	height:130px;
	margin:0 auto 0;

}
.ulright
{
	margin-top:50px;
	float:right;
margin-right:16px;

}
.li1
{
	
	list-style-type: none;
	float:right;
	margin-right:20px;
	font-size:16px;
	color:white;
	font-family: nazanin;
	font-weight: bold;
}
.li11
{
	list-style-type: none;
	float:right;
	
	font-size:16px;
	color:orange;
	font-family: nazanin;
	font-weight: bold;
}
.logoarea
{
	float:right;
	
	width:110px;
	height:110px;
	margin:2 -15 0 0 ;
	border-radius: 50%;
	border:2px solid orange;
	background-color:rgba(0,0,0,0.30)
}
.logoimg
{
	width:110px;
	height:110px;
	
	margin-top: 5.5px;
	
}
.ulleft
{
	margin-top:50px;
	float:right;
	margin-right:25px;
}
.li21
{
	list-style-type: none;
	float:right;

	font-size:16px;
	color:white;
	font-family: nazanin;
	font-weight: bold;
		
}
.li2
{
		list-style-type: none;
	float:right;
	margin-right:20px;
	font-size:16px;
	color:white;
	font-family: nazanin;
	font-weight: bold;

}
.li2:hover
{
	color:orange;
}
.li21:hover
{
	color:orange;
}
.a1
{


	font-size:16px;
	color:white;
	font-family: nazanin;
	font-weight: bold;
	text-decoration:none;
}
.a11
{


	font-size:16px;
	color:orange;
	font-family: nazanin;
	font-weight: bold;
	text-decoration:none;
}
.a1:hover
{
	color:orange;
}
.a2
{


	font-size:16px;
	color:white;
	font-family: nazanin;
	font-weight: bold;
	text-decoration:none;
}
.a21
{


	font-size:16px;
	color:orange;
	font-family: nazanin;
	font-weight: bold;
	text-decoration:none;
}
.a2:hover
{
	color:orange;
}
.addrestxt
{
	text-align: center;
	margin-top:190px;
	color:orange;
	font-family:nazanin;
	font-weight:800;
	
}
.d2
{
	width:920px;
	height:3370;
	margin:60 auto 0;
	background-repeat:no-repeat;
border-left:1px solid orange;
border-right:1px solid orange;
}
.criticismtxttitr
{
	
	direction:rtl;
	font-size:25pt;
	font-family:mitra;
	color:orange;
	margin:15px 0 15px 0;
	float:right;
			padding:0 7;
}
.criticismtxt
{
	
	
	direction:rtl;
	font-size:18pt;
	font-family:nazanin;
		margin-top:10;
		padding:0 7;
		text-align:justify;
		float:right;
		
}
.criticismimg
{
	width:70%;
	height:410px;
	
	margin-left:15%;
	
}
#knowinput
{
		width:100%;
	height:40px;
direction:rtl;
border-width:0 0 2px 0;
margin-top:5;


font:18px nazanin;
}

.inputtxt
{
	

	font-size:18;
	font-family:nazanin;
	margin-top:15px;
padding:0 20;
font-weight:700;
direction:rtl;

}
.textarea1
{
	width:100%;
	height:200px;
}
.bottommenu
{
	

	border-top:2px solid orangered;
	width:100%;
	margin-top:40px;
	text-align: center;
	
	font-weight: bold;

}
.bottommenutxt
{
text-align:center;

	margin-top: 8px;
	font-family: nazanin;
}
.button1
{
	width:130px;
	height:60px;
	margin-top:30px;
	background-color:black;
	font-size:20;
	font-family:mitra;
	border-radius:15px;
	color:orange;
}
@media  screen and (max-width : 610px ) and  (min-width:358px)
	{
		.heddermenuin
		{
			width:345px;
		}
			.logoarea
	{
display: none;

	}
	.ulright
	{
		margin-right:0;
		float:left;
		margin-top:30px;
			margin-left:-40;
	
	}
	.ulleft{
		margin-right:0;
		float:left;
		margin-top:10px;
		margin-left:-40;
	}
	.modelimg
	{
	height:270px;
	width:180px;
	margin-top:-50px;
	margin-right:0px;
		margin-left:0;
	float:right;
	}

	.abouttext
	{
	margin-left:2%;
	margin-top:17%;
	}
	.d2
		{
			height:5340px;
			width:340px;
			
		}
.criticismimg
	{
		width:100%;
		height: 240;
		float: none;
		margin:0 auto 0;
	}

	}
	
@media screen and (max-width:920px)and (min-width:610px)
{
.heddermenuin
	{
		width:600px;
	}
	.logoarea
	{
	margin-top:10px;
		margin-right:40px;

	}
	.ulright
	{
		float:left;
		margin-top:35px;
			margin-left:17px;
	}
	.ulleft{
		float:left;
		margin-top:0px;
		margin-left:16px;
	}

	.modelimg
	{
	height:450px;
	width:300px;
	margin-top:-100px;
	margin-right:0;
	float:right;
	}
.abouttext
	{
		margin-top:10%;
		margin-left:2%;
	}
	.d2
	{
		width:590px;
		height:3900px;
	}
.criticismimg
	{
		width:100%;
		height: 340;
		float: none;
		margin:0 auto 0;
	}
}
